<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Sportify</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/Sportify</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- 註冊corpUserController -->
	<servlet>
		<servlet-name>CorpUserServlet</servlet-name>
		<servlet-class>com.CorpUser.controller.CorpUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CorpUserServlet</servlet-name>
		<url-pattern>/corpUser/CorpUserServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 註冊generalUserController -->
	<servlet>
		<servlet-name>GeneralUserServlet</servlet-name>
		<servlet-class>com.GeneralUser.controller.GeneralUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneralUserServlet</servlet-name>
		<url-pattern>/generalUser/GeneralUserServlet.do</url-pattern>
	</servlet-mapping>

	<!-- 註冊webManagerController -->
	<servlet>
		<servlet-name>WebManagerServlet</servlet-name>
		<servlet-class>com.WebManager.controller.WebManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebManagerServlet</servlet-name>
		<url-pattern>/webManager/WebManagerServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShopController</servlet-name>
		<servlet-class>com.shop.controller.ShopController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShopController</servlet-name>
		<url-pattern>/shopping/SportifyShop.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shoppingcart</servlet-name>
		<servlet-class>com.cartList.controller.ShoppingCart</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>shoppingcart</servlet-name>
		<url-pattern>/shopping/shoppingcart.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Morder</servlet-name>
		<servlet-class>com.morder.controller.Morder</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Morder</servlet-name>
		<url-pattern>/order/Morder.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MorderManagement</servlet-name>
		<servlet-class>com.morder.controller.MorderManagement</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MorderManagement</servlet-name>
		<url-pattern>/order/MorderManagement.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductTrackingServlet</servlet-name>
		<servlet-class>com.product_watch_list.controller.ProductTrackingList</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductTrackingServlet</servlet-name>
		<url-pattern>/tracking/ProductTracking.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ARTICLEServlet</servlet-name>
		<servlet-class>com.article.controller.ARTICLEServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ARTICLEServlet</servlet-name>
		<url-pattern>/article/article.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>REPLYServlet</servlet-name>
		<servlet-class>com.reply.controller.REPLYServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>REPLYServlet</servlet-name>
		<url-pattern>/article/reply.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>REPORTServlet</servlet-name>
		<servlet-class>com.report.controller.REPORTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>REPORTServlet</servlet-name>
		<url-pattern>/article/report.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VenueServlet</servlet-name>
		<servlet-class>com.venue.controller.VenueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VenueServlet</servlet-name>
		<url-pattern>/venue/venue.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Venue_NophoursServlet</servlet-name>
		<servlet-class>com.venue_nophours.controller.Venue_NophoursServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Venue_NophoursServlet</servlet-name>
		<url-pattern>/venuenop/venuenop.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RentalListServlet</servlet-name>
		<servlet-class>com.rental_list.controller.RentalListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RentalListServlet</servlet-name>
		<url-pattern>/rental_list/rental_list.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VenueWatchListServlet</servlet-name>
		<servlet-class>com.venue_watchlist.controller.VenueWatchListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VenueWatchListServlet</servlet-name>
		<url-pattern>/venue_watchlist/venue_watchlist.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RLReader</servlet-name>
		<servlet-class>pic.RLReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RLReader</servlet-name>
		<url-pattern>/RLReader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AFReader</servlet-name>
		<servlet-class>pic.AFReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AFReader</servlet-name>
		<url-pattern>/AFReader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AFReader2</servlet-name>
		<servlet-class>com.pic.AFReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AFReader2</servlet-name>
		<url-pattern>/AFReader2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BFReader2</servlet-name>
		<servlet-class>com.pic.BFReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BFReader2</servlet-name>
		<url-pattern>/BFReader2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SportsGroupServlet</servlet-name>
		<servlet-class>com.sportsgroup.controller.SportsGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SportsGroupServlet</servlet-name>
		<url-pattern>/sportsGroup/sportsGroup.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product/product.do</url-pattern>
	</servlet-mapping>

</web-app>